body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
} 

form input, label, button {
  margin: 0.5rem 0
}

form button {
  padding: 1rem
}