<div id="addsongs-container">

<h1>Add your songs</h1>

<div id="upload-container">
<form class="upform-container" action="/songs" method="POST" id="upload-form" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" name="title">

    <label for="songFileURL">Song file:</label>
    <input class="img-label" type="file" name="songFileURL">
    {{!-- <input type="submit"> --}}

    <label for="author">Author:</label>
    <input type="text" name="author">


    <label for="genre">Genre:</label>
    <select id="select-label"name="genre">
        <option value="" disabled selected hidden>Choose a genre</option>
        {{#each genre}}
        <option>{{this}}</option>
        {{/each}}
    </select>

    <label  for="coverImgURL">Cover image (optional):</label>
    <input class="img-label" type="file" name="coverImgURL">
    {{!-- <input type="submit"> --}}

    <button type="submit">Upload song</button>

</form>

<div id="img-upload">
<img src="/images/vinils.png">
</div>

</div>

{{#if message}}
	<h3 class="error">{{message}}</h3>
{{/if}}
</div>

